body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: silver;
}

.controls {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.canvas-container {
    position: relative;
    width: 800px;
    height: 800px;
    background: white;
    filter: drop-shadow(0 0 0.75rem black);
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border-radius: 1px;
    border: 1px solid grey;
}

.button:hover {
    background: darkgray;
}

canvas {
    position: absolute;
    cursor: pointer;
}

.canvas-container > .zoom-buttons {
    right: 5px;
    bottom: 5px;
    position:absolute;
    z-index: 1;
}

input:checked {
    background: green;
}

.zoom-buttons {
    opacity: 0.4;
}
.zoom-buttons:hover {
    opacity: 1;
}

.canvas-container > .zoom-buttons > button {
    width: 2em;
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 3px;
}

.julia-c {
    width: 5em;
}

#julia-controls > label {
    margin-right: 20px;
}

.function-controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

}
